.spicy-enter {
	opacity: .01;
	transform: scaleX(0) translateY(100px);
}

.spicy-enter.spicy-enter-active {
	opacity: 1;
	transform: scaleX(1) translateY(0);
	transition: all 500ms ease-in-out;
}

.spicy-leave {
	opacity: 1;
	transform: scaleX(1) translateY(0);
}

.spicy-leave-active {
	opacity: 01;
	transform: scaleX(0) translateY(100px);
	transition: all 300ms ease-in-out
}

.test-enter {
	opacity: .01;
}

.test-enter.test-enter-active {
	opacity: 1;
	transition: all 500ms ease-in-out;
}

.test-leave {
	opacity: 1;
}

.test-leave-active {
	opacity: 0;
	transition: opacity 300ms ease-in-out
}

.something-enter {
    opacity: 0;
    transition: opacity 500ms;
}

.something-enter.something-enter-active {
    opacity: 1;
}

.something-leave {
    opacity: 1;
    background: white;
    transition: opacity 500ms, transform 1000ms ease-in-out;
}

.something-leave.something-leave-active {
    opacity: 1;
    transform: translateX(-200px);
}